<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloudlinks - Forgot Password</title>
    <style>
        
    </style>
</head>
<body>
    <table style="width: 100%;" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td style="background-image: url(https://cloudlinks.site/media/bg/background-cloudlinks-login.jpg); background-size: cover; height: 240px; color: #ffffff; background-repeat: no-repeat;">
                    <div style="max-width: 640px;padding: 0px 20px;margin: 0 auto;">
                        <img style="height: 100px;" src="https://cloudlinks.site/media/logos/logo-shortlinks-name-200x200.png" alt="Logo" />
                        <h1 style="color: #03529f; font-size: 34px; padding-bottom: 30px; font-family: -apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Ubuntu','Open Sans','Helvetica Neue',sans-serif; font-weight: 400;">
                            <% if(location !=null || location !='' || location !=undefined || location=='indonesia' ) { %>
                            Penyingkat url terbaik Anda
                            <% }else{ %>
                            Your best url shortener
                            <% } %>
                        </h1>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table style="width: 100%;" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td>
                    <div style="max-width: 640px;padding: 0px 20px;margin: 0 auto;">
                        <p>
                            <% if(location != null || location != '' || location != undefined || location == 'indonesia') { %>
                            Bapak/Ibu yang terhormat,<br><br><br>
                            Terima kasih telah menghubungi Kami<br><br>
                            Berikut adalah PASSWORD ANDA:<br><br>
                            <h2>Password: <%= password %></h2><br><br>
                            Jagalah Password Anda dan gantilah secara berkala untuk menjaga keamanan Anda.<br><br>
                            Untuk pertanyaan lebih lanjut, Anda dipersilakan untuk menghubungi kami sebagai berikut rincian:-<br><br>
                            E-mail: support@cloudlinks.site<br><br>
                            Salam hangat,<br><br>
                            <img data-emoji="💙" style="height: 1.2em; width: 1.2em; vertical-align: middle;" alt="💙" aria-label="💙"
                                src="https://fonts.gstatic.com/s/e/notoemoji/14.0/1f499/72.png" loading="lazy">Cloudlinks
                            <% }else{ %>
                            Dear Sir/Madam,<br><br><br>
                            Thank you for contacting us<br><br>
                            Here is YOUR PASSWORD:<br><br>
                            Password: <%= password %><br><br>
                            Take care of your password and change it regularly to keep you safe<br><br>
                            For further enquiry, you are welcome to contact us as below details:-<br><br>
                            E-mail: support@cloudlinks.site<br><br>
                            Warm Regards,<br><br>
                            <img data-emoji="💙" style="height: 1.2em; width: 1.2em; vertical-align: middle;" alt="💙" aria-label="💙"
                                src="https://fonts.gstatic.com/s/e/notoemoji/14.0/1f499/72.png" loading="lazy">Cloudlinks
                            <% } %>
                        </p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table style="width:100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr bgcolor="#F2F2F2">
                <td style="text-align:left;font-size:0.8em" align="left" valign="middle">
                    <div style="max-width:640px;padding:10px 20px;margin:40px auto">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>